@font-face{
    font-family: myfont;
    src: url('Hannover Messe Serif.woff');
}

.container {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 900px;
    height: 920px;
    border: 1px solid #254E70;
    border-radius: 4px;
    background-color: #254E70;
    -webkit-box-shadow: 8px 8px 12px 3px rgba(143,143,143,1);
    -moz-box-shadow: 8px 8px 12px 3px rgba(143,143,143,1);
    box-shadow: 8px 8px 12px 3px rgba(143,143,143,1);
}
h1 {
    font-family: myfont;
    font-size: 65px;
    color: #C33C54;
}

h2 {
    margin: 1em 0 0.25em;
    text-decoration: underline;
    color: #AEF3E7;
    font-family: 'Indie Flower', cursive;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid #37718E;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.col{
    display: inline-block;
    width: 30%;
    margin: 0px 13.985px;
    vertical-align: text-top;
    height: 157.2px;
    border: 1px solid #37718E;
    border-radius: 4px;
    background-color: #37718E;
    color: #AEF3E7;
}

.dimensions-div{
    width: 170px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 6px;
}

.color-picker{
    position: relative;
    top: 20px;
    background-color: #37718E;
    border-radius: 40px;
    width: 70px;
    cursor: pointer;
}
.instructions-image{
    position: relative;
    bottom: 8px;
}

.dimension-input{
    background-color: #37718E;
    border: none;
    border-bottom: 1px solid #AEF3E7;
    font-weight: bold;
    color: #AEF3E7
}
.submit-button{
    cursor: pointer;
    background-color: #C33C54;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 80px;
    margin-top: 10px;
}
.submit-button:hover{
    color: #C33C54;
    background-color: white;
}
.image-button{
    height: 40px;
    border-radius: 40px;
    margin-bottom: 30px;
}